# Ignore files larger than 5 megabytes
*.megabytes max-size=5M

*.m4v
*.jpg
*.mp4
*.pdf
*.zip
*.tar.gz
*.rar
*.7z
*.iso
*.dmg
*.exe
*.dll
*.so
*.dylib
*.bak
*.log
*.out
*.gz
*.tar
*.tgz
*.mov
*.avi
*.wmv
*.mpg
*.mpeg
*.flv
*.swf
*.gif
*.png
*.jpeg
*.bmp
*.svg
*.ico
*.mp3
*.wav
*.wma
*.aiff
*.aac
*.ogg
*.m4a
*.flac
*.psd
*.ai
*.eps
*.sketch
*.fig
*.indd
*.pdf
*.xd
*.xlsm
*.xlsx
*.csv
*.ods
*.odt
*.doc
*.docx
*.txt
*.rtf
*.md
*.markdown
*.ppt
*.pptx
*.key
*.keynote
*.pages
*.numbers
*.zip
*.gz
*.bz2
*.tar.gz
*.tar.bz2
*.tar.xz
*.rar
*.7z
*.pdf
*.hdr
*.caffemodel
